@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,400;1,600&family=Barlow+Semi+Condensed:ital,wght@0,500;1,600&family=Big+Shoulders+Display:wght@700&family=Inter:wght@300;500;700&family=Josefin+Sans:ital,wght@1,300;1,400;1,600&family=Karla:ital@1&family=Kumbh+Sans:wght@400;700&family=Lexend+Deca&family=Open+Sans:wght@400;700&family=Outfit:wght@300;400;600&family=Raleway:ital,wght@0,700;1,400&family=Red+Hat+Display:ital,wght@0,500;0,700;1,500;1,900&family=Rubik:ital,wght@0,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,400;1,600&family=Barlow+Semi+Condensed:ital,wght@0,500;1,600&family=Big+Shoulders+Display:wght@700&family=Inter:wght@300;500;700&family=Josefin+Sans:ital,wght@1,300;1,400;1,600&family=Karla:ital@1&family=Kumbh+Sans:wght@400;700&family=Lexend+Deca&family=Open+Sans:wght@400;700&family=Outfit:wght@300;400;600&family=Raleway:ital,wght@0,700;1,400&family=Red+Hat+Display:ital,wght@0,500;0,700;1,500;1,900&family=Rubik:ital,wght@0,400;1,500;1,700&display=swap');
body {
    background-color: black;
    border: 5px;
    font-family: 'Bai Jamjuree', sans-serif;
    font-family: 'Bai Jamjuree', sans-serif;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Inter', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Karla', sans-serif;
    font-family: 'Karla', sans-serif;
    font-family: 'Kumbh Sans', sans-serif;
    font-family: 'Kumbh Sans', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
    font-family: 'Rubik', sans-serif;
    max-height: 400vh;
    max-width: 900px;
  }
.container {
    background-color: white;
    border: 2px solide white;
    height: 350vh;
    margin-left: 200px;
    margin-top: 3vh;
    overflow-block: hidden;
    width: 800px;
  } 
.bg {
    background-image: url("../images/desktop/image-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    position: relative;
    width:800px;
  }
header {
    border: 5%;
    display: flex;
    flex-direction: row;
    height: 9vh;
    margin-left: -50px;
    margin: 20px;
    position: absolute;
    width:67%;
  }
.menu {
    color:aliceblue;
    display: flex;
    flex-direction: row;
    float: right;
    justify-content: space-between;
    margin-left: 300px;
    position: absolute;
    width: 300px;
  } 
.open1 {
    background-color: white;
    border-radius: 15px;
    border: 2px solid white;
    color:rgb(2, 2, 20);
    height: 5vh;
    width: 100px;
  }
.first {
    color: white;
    font-size: 28px;
    height: 15vh;
    letter-spacing: 2px;
    margin-left: 20%;
    margin-top: -52vh;
    position: absolute;
    text-align: center;
  }
.arrow {
    height: 60px;
    margin-left:30%;
    margin-top: -38vh;
    position: absolute;
    width: 20px;
  } 
.second {
    display: flex;
    flex-direction: row;
    height: 50vh;
    width: 100%;
  }
.left2 {
    background-color: white;
    color:rgb(2, 2, 29);
    float: left;
    height: 30vh;
    padding-bottom: 10vh;
    padding-left: 8%;
    padding-right: 5%;
    padding-top: 10vh;
    width: 37%;
  }
.right2 {
    float: right;
    height: 50vh;
    width: 50%;
  }
.egg {
    height: 50vh;
    width: 100%;
  }
.third {
    display: flex;
    flex-direction: row;
    height: 50vh;
    width: 100%;
  }
.left3 {
    float: left;
    height: 50vh;
    width: 50%;
  }
.right3 {
    background-color: white;
    color:rgb(2, 2, 29);
    float: right;
    height: 30vh;
    padding-bottom: 10vh;
    padding-left: 8%;
    padding-right: 5%;
    padding-top: 10vh;
    width: 37%;
  }
.stand-out {
    height: 50vh;
    width: 100%;
  }
.four {
    display: flex;
    flex-direction: row;
    height: 50vh;
    width: 100%;
  }
.left4 {
    float: left;
    height: 50vh;
    width: 50%;
  }
.right4 {
    float: right;
    height: 50vh;
    width: 50%;
  }
.fourth {
    height: 50vh;
    position: relative;
    width: 100%;
  }
.text1 {
    color:rgb(2, 2, 29);
    float:left;
    height: 19vh;
    margin-left: 5%;
    margin-top: -23vh;
    position: absolute;
    text-align: center;
    width: 20%;
  }
.text2 {
    color:rgb(2, 2, 29);
    float:right;
    height: 19vh;
    margin-left: 5%;
    margin-top: -23vh;
    position: absolute;
    text-align: center;
    width: 20%;
  } 
.five {
    display: flex;
    flex-direction: row;
    height: 60vh;
    width: 100%;
  }
.left5 {
    float: left;
    height: 100%;
    width:33.33%;
  }
.center {
    height: 100%;
    width:33.33%;
  }
.right5 {
    float:right;
    height: 100%;
    width:33.33%;
  }
.mini {
    border-radius: 100%;
    height:50px;
    margin-left: 40%;
    margin-top: 16vh;
    width:50px;
  }
.heading {
    margin-top: 6vh;
  }
.profile1_text {
    font-size: 13px;
    margin-top: 5vh;
    padding: 5px;
    text-align: center;
  }
.last {
    margin-top: 6vh;
    text-align: center;
  }
.foot {
    font-size: 17px;
  }
span {
    font-size: 15px;
  }
.mini1 {
    border-radius: 100%;
    height:50px;
    margin-left: 40%;
    margin-top: 3vh;
    width:50px;
  }
.profile_text {
    font-size: 13px;
    margin-top: 5vh;
    padding: 5px;
    text-align: center;
  }
.six {
    display: flex;
    flex-direction: row;
    height: 30vh;
    margin-top: 10vh;
    width: 100%;
  }
.pic1 {
    height:100%;
    width:25%;
  }
.pic2 {
    height:100%;
    width:25%;
  }.pic3 {
    height:100%;
    width:25%;
  }
.pic4 {
    height:100%;
    width:25%;
  }
.picture {
    height:100%;
    width:100%;
  }
.seven {
    background-color: hsl(167, 26%, 69%);
    color: hsl(167, 35%, 32%);
    height: 30vh;
    padding-top: 4vh;
    position: relative;
    text-align: center;
    width: 100%;
  }
.menus {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 300px;
    position: absolute;
    width: 200px;
  } 
a {
    color: hsl(167, 35%, 32%);
    text-decoration-line: none;
  }
.icon {
    margin-top: 10vh;
  }
a:hover {
    color:fuchsia;
  }
div:hover {
    color: lawngreen;
  }
nav .display{
    display: none;
  }
.dropdown {
    display: inline-block;
    position: relative;
  }  
  .dropdwn_content {
    background-color: #f9f9f9;
    display: none;
    min-width: 160px;
    position: absolute;
    z-index: 1;
  }  
  .dropdwn_content {
    display: none;
  }
@media only screen and (max-width: 893px) {
    nav .menu {
      display: none;
    }
    nav .display {
      display: block;
    }
  }
  @media only screen and (max-width: 605px) {
    body {
    justify-content: center;
    width: fit-content;
  }
    .bg {
        width: auto;
    }
    .menu {
      display: none;
    }
    .menus {
      display: block;
    }
    .container {
      flex-direction: column;
    }
    .second {
        flex-direction: column;
    }
    .third {
        flex-direction: column;
      }
    .four {
          flex-direction: column;
        }
    .five {
        flex-direction: column;
        position: absolute;
    }
  .dropdwn_content {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
}
  .six {
    flex-direction: column;
  }
.seven {
    width:auto;
  }
.first {
    width:auto
  }
.left *, .right * {
    max-width: auto;
  }
.last {
    max-width: auto;
  }
* .pic {
    position: absolute;
    width: 100%;
  }
  }
