<div>
    <form [formGroup]="bookForm">
        <fieldset>
            <div class="form-group">
                <label for="name">Book Name:</label>
                <input type="text" id="name" [value]="book.name" formControlName="name" class="form-control">
                <div class="help-block" *ngIf="name.invalid && name.touched">
                    <span *ngIf="name.errors?.['required']">Book Name is REQUIRED</span>
                    <span *ngIf="name.errors?.['minlength']">Book Name must have 3 Character</span>
                </div>
            </div>
            <div class="form-group">
                <label for="price">Price:</label>
                <input type="text" id="price" [value]="book.price" formControlName="price" class="form-control">
            </div>
            <div class="form-group">
                <label for="author">Author Name:</label>
                <input type="text" id="author" [value]="book.author" formControlName="author" class="form-control" />
                <div class="help-block" *ngIf="author.invalid && author.touched">
                    <span *ngIf="author.errors?.['required']">Author Name is REQUIRED</span>
                    <span *ngIf="author.errors?.['minlength']">Author Name must have 3 Character</span>
                </div>
            </div>
            <div class="form-group">
                <label for="canBuy">can Buy:</label>
                <input type="text" id="canBuy" [value]="book.canBuy" formControlName="canBuy" class="form-control">
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <input type="text" id="description" [value]="book.description" formControlName="description"
                    class="form-control">
            </div>
            <div class="form-group">
                <label for="publishedate">Publishedate:</label>
                <input type="text" id="publishedate" [value]="book.publishedate" formControlName="publishedate"
                    class="form-control">
                <!-- <div class="help-block" *ngIf="publishedate.invalid && publishedate.touched">
                    <span *ngIf="publishedate.errors?.['required']">Publishedate is REQUIRED</span>
                    <span *ngIf="publishedate.errors?.['minlength']">Publishedate must have 3 Character</span>
                </div> -->
            </div>
            <div class="form-group">
                <label for="discount">Book discount:</label>
                <input type="text" id="discount" [value]="book.discount" formControlName="discount"
                    class="form-control">
            </div>
            <div>
                <button class="btn btn-primary" (click)="onAddButtonClick(bookForm.value)">Add New Book</button>
            </div>
        </fieldset>
    </form>
</div>