.container {
    background-color:  hsl(218, 23%, 16%);
    color: white;
    font-size: 17px;
    height: 70vh;
    margin-left: 17%;
    margin-top: 17vh;
    position: fixed;
    width: 900px;
}
.advice_box {
    align-content: center;
    background-color:  hsl(217, 19%, 24%);
    border-radius: 10px;
    height: 30vh;
    margin-left: 34%;
    width: 300px;

}
* { 
    text-align: justify;
}
#head {
    color: hsl(150, 100%, 66%);
    height : 6vh;
    letter-spacing: 3px;
    padding-top: 4vh;
    padding-left: 25%;
    text-transform: uppercase;
    width: 70%;
}
.pause_img {
    width: 100%;
}
.button_img {
    align-content: space-around;
    background-color: hsl(150, 100%, 66%);
    border-radius: 50%;
    height: 50px;
    margin-left: 41%;
    margin-top: 3vh;
    width: 50px;
}
#dice {
    margin-left: 12px;
    margin-top: 12px;
}
p{
    margin-top: -1vh;
    text-align: center;
}
