body{
    background-image: url("./images/white.webp");
    background-size: cover;
    font-size: larger;
}
h1{
    margin-left: 500px;
    color: rgb(240, 36, 114);
    font-size: 32px;
}
.image{
    width: 700px;
    height: 60vh;
    justify-content: center;
    margin-left: 300px;
    margin-top: 10vh;
}
.option{
    float: right;
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 5vh;
    align-content:space-between;
}
a:hover{
    color: palevioletred;
}