@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,400;1,600&family=Barlow+Semi+Condensed:ital,wght@0,500;1,600&family=Big+Shoulders+Display:wght@700&family=Inter:wght@400;700&family=Karla:ital@1&family=Lexend+Deca&family=Open+Sans:wght@400;700&family=Outfit:wght@300;400;600&family=Raleway:ital,wght@0,700;1,400&family=Red+Hat+Display:ital,wght@0,500;0,700;1,500;1,900&family=Rubik:ital,wght@0,400;1,500;1,700&display=swap');
body {
    background-color: hsl(204, 43%, 93%);
    background-position: center center;
    background-size: cover;
    font-family: 'Bai Jamjuree', sans-serif;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Inter', sans-serif;
    font-family: 'Karla', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    margin: 3px;
    text-align: left;
  }
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
.box1 {
    background-color: white;
    display: flex;
    flex-direction: column;
    height:20vh;
    margin-left: 30%;
    margin-top: 8%;
    padding: 2.5%;
    width:40%;
  }
.box2 {
    background-color: white;
    display: inline;
    height: 35vh;
    margin-left: 30%;
    width:45%;
  }
.left {
    background-color: hsl(179, 62%, 43%);
    color: white;
    float: left;
    height: 35vh;
    padding-left: 3%;
    padding-right: 3%;
    width: 44%;
  }
.right {
    background-color: hsl(179, 51%, 55%);
    color: white;
    float: right;
    height: 35vh;
    padding-left: 3%;
    padding-right: 3%;
    width: 44%;
  }
.reg {
    background-color: hsl(71, 73%, 54%);
    border-radius: 8px;
    color: white;
    cursor: pointer;
    height: 5vh;
    width: 200px;
  }
