@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,400;1,600&family=Barlow+Semi+Condensed:ital,wght@0,500;1,600&family=Open+Sans:wght@400;700&family=Outfit:wght@300;400;600&family=Raleway:ital,wght@0,700;1,400&family=Red+Hat+Display:ital,wght@0,500;0,700;1,500;1,900&family=Rubik:ital,wght@0,400;1,500;1,700&display=swap');
body {
    background-color: white;
    background-position: center center;
    background-size: cover;
    font-family: 'Bai Jamjuree', sans-serif;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    margin: 3px;
    overflow-x: hidden;
    scroll-behavior: none;
    text-align: center;
  }
header {
      height: 30vh;
    }
.logo {
      float: left;
      height: 50px;
      margin-left:  80px;
      margin-top: 50px;
      width: 200px;
    }
.try {
      background-color: white;
      border-color: rgb(248, 8, 176);
      border-radius: 15px;
      color: rgb(248, 8, 176);
      cursor: pointer;
      float: right;
      height: 40px;
      margin-right:  80px;
      margin-top: 50px;
      width: 150px;
    }
.start {
      background-color:  hsl(322, 100%, 66%);
      border-radius: 10px;
      border: hsl(322, 100%, 66%);
      color: white;
      cursor: pointer;
      float: center;
      height: 40px;
      width: 250px;
    }
.third {
      align-items: center;
      background-color: white;
      border: 30px;
      height: 100vh;
      margin-top: 5vh;
    }
.one {
      height: 90%;
      margin-top: 12vh;
      width:60%;
    }
.fourth {
      align-items: center;
      background-color: white;
      border: 30px;
      height: 50vh;
      margin-top: 5vh;
    }
.left {
      float: left;
      height:40vh;
      justify-content: center;
      margin-left: 150px;
      margin-top: 50px;
      width:30%;
    }
.right {
      background-color: white;
      float: right;
      height:40vh;
      justify-content: center;
      margin-right: 150px;
      margin-top: 50px;
      width:30%;
    }
    span {
      font-size: 100px;
      justify-content: center;
    }
.fifth_top {
      margin: 20px;
    }
.fifth {
      height: 70vh;
      margin-top: -10px;
      margin: 80px;
    }
.sect{
      background-color: rgb(249, 252, 252);
      margin-top: -15vh;
    }
.fifth_bot {
      margin-top: -90px;
    }
.left5 {
      float:left;
      height: 30vh;
      margin-top: 25vh;
      width:40%;
    }
.right5 .pic {
      float:right;
      height: 70vh;
      width: 50%;
    }
.four {
      height: 70vh;
      margin: 80px;
    }
.right4 {
      background-color: aliceblue;
      float:right;
      height: 30vh;
      margin-top: 25vh;
      width:40%;
    }
.left4 .pic {
      float:left;
      height: 70vh;
      width: 50%;
    }
.five_top {
      margin: 20px;
    }
.five {
      border: 5px;
      height: 80vh;
      margin-left: 70px;
      margin-right: 40px;
    }
.sect1{
      background-color: rgb(249, 255, 255);
      margin-top: -30px;
    }
.five_bot {
      margin-top: -10px;
    }
.left7 {
      float:left;
      height: 30vh;
      margin-left: 40px;
      margin-top: 25vh;
      width:40%;
    }
.right7 .pic {
      float:right;
      height: 70vh;
      width: 50%;
    }
.six {
      background-color: white;
      border-radius: 12px;
      height: 20vh;
      justify-content: center;
      justify-self: center;
      margin-left: 300px;
      margin-top: 100px;
      width: 60%;
    }
footer {
      background-color: hsl(192, 100%, 9%);
      font-size: large;
      height:50vh;
      justify-self: baseline;
      margin-top: -10px;
    }
.boxes {
      display: flex;
      justify-content: space-evenly;
      line-height: 5vh;
      list-style-type: none;
    }
.boxes .foot {
      border-radius: 5px;
      color: white;
      display: flex;
      flex-direction: column;
      height: 200px;
      justify-content: left;
      margin-top: -1vh;
      margin: 30px;
      width: 30%;
    }
a:hover
 {
      color:beige
    }
.type
 {
         border-color: aliceblue;
         border-radius: 12px;
         float: left;
         height: 5vh;
         margin-top: 0vh;
         margin:20px;
         width: 60%;
       } 
.last {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
.sub {
      background-color: hsl(322, 100%, 66%);
      border-radius: 10px;
      border: hsl(322, 100%, 66%);
      color: white;
      cursor: pointer;
      float: right;
      height: 40px;
      width: 200px;
    }
.new {
      display: grid;
      float:right;
      grid-template-columns: auto auto auto;
      list-style-type: none;
      margin-top: 3vh;
      width: 150px;
    }
.new .icon {
      background-color: white;
      border-radius: 5px;
      color: black;
      cursor: pointer;
      display: flex;
      height: 30px;
      margin: 4px;
      width: 30px;
    }
.footer_top {
      margin-top: 100px;
    }
