@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,400;1,600&family=Barlow+Semi+Condensed:ital,wght@0,500;1,600&family=Big+Shoulders+Display:wght@700&family=Inter:wght@300;500;700&family=Josefin+Sans:ital,wght@1,300;1,400;1,600&family=Karla:ital@1&family=Kumbh+Sans:wght@400;700&family=Lexend+Deca&family=Open+Sans:wght@400;700&family=Outfit:wght@300;400;600&family=Raleway:ital,wght@0,700;1,400&family=Red+Hat+Display:ital,wght@0,500;0,700;1,500;1,900&family=Rubik:ital,wght@0,400;1,500;1,700&display=swap');
body {
    background-color: white;
    color: white;
    font-family: 'Bai Jamjuree', sans-serif;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Inter', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Karla', sans-serif;
    font-family: 'Kumbh Sans', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
    font-family: 'Rubik', sans-serif;
  }
.container_weekly, .container_daily,
.container_monthly {
    background-color: hsl(226, 43%, 10%);
    display: fixed;
    display: inline-flexbox;
    flex-direction: row;
    height: 60vh;
    justify-content: space-evenly;
    margin-left:15%;
    margin-top: 4vh;
    padding: 100px 5vh 100px 5vh;
    width:900px;
  }
.box1_week,
.boxa_month,
.boxw_day {
    background-color: hsl(235, 46%, 20%);
    float: left;
    }
.box4_week,
.boxd_month,
.boxz_day {
    float: right;
    margin-top: -60vh;
    }
.box3_week,
.boxc_month,
.boxy_day {
    margin-left: 450px;
    margin-top: -60vh;
    }
.box2_week,
.box1_week,
.box3_week ,
.box4_week,
.boxa_month,
.boxb_month,
.boxc_month,
.boxd_month,
.boxw_day,
.boxx_day,
.boxy_day,
.boxz_day {
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    height: 60vh;
    margin-right: 2%;
    width: 200px;
    }
.work,
.work1,
.work2 {
    background-color: hsl(43, 84%, 65%);
    }
.excercise,
.excercise1,
.excercise2 {
    background-color: hsl(145, 58%, 55%);
    }
.play,
.play1,
.play2 {
    background-color: hsl(195, 74%, 62%);
    }
.social,
.social1,
.social2 {
    background-color: hsl(264, 64%, 52%);
    }
.study,
.study1,
.study2 {
    background-color:  hsl(15, 100%, 70%);
    }
.selfcare,
.study,
.social,
.play,
.excercise,
.work,
.selfcare1,
.study1,
.social1,
.play1,
.excercise1,
.work1,
.selfcare2,
.study2,
.social2,
.play2,
.excercise2,
.work2 {
    border-radius: 12px;
    height: 50%;
    width:100%;
    }
.selfcare,
.social,
.excercise,
.selfcare1,
.social1,
.excercise1,
.selfcare2,
.social2,
.excercise2 {
    margin-top: 2vh;
    }
.selfcare,
.selfcare1,
.selfcare2 {
    background-color: hsl(43, 84%, 65%);
    }
.profile{
    background-color: hsl(246, 80%, 60%);
    border-radius: 12px;
    height: 55%;
    width:80%;
    }
.profile_pic{
    border-radius: 100%;
    border: 2px solid white;
    height:50px;
    margin-left: 20px;
    width: 50px;
    }
* {
    font-size: 12px;
    }
#image,
#image1,
#image2 {
    float: right;
    height: 40px;
    width: 40px;
    }
.selfcare_in,
.study_in,
.social_in,
.play_in,
.excercise_in,
.work_in,
.selfcare_in1,
.study_in1,
.social_in1,
.play_in1,
.excercise_in1,
.work_in1,
.selfcare_in2,
.study_in2,
.social_in2,
.play_in2,
.excercise_in2,
.work_in2 {
    background-color: hsl(235, 46%, 20%);
    border-radius: 12px;
    height: 62%;
    margin-top: 20%;
    padding: 10%;
    }
span {
  font-size: 30px;
}
.profile {
  padding: 10%;
}
#option {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }
#option > button {
    background-color: hsl(235, 46%, 20%);
    color: hsl(236, 38%, 54%);
    margin-left: 10%;
    margin-top: 10%;
    width: 50%;
    }
button:active {
    color: white;
    }
button:hover {
    color: paleturquoise;
    opacity: 0.8sec;
    }
div > p {
    font-size: 15px;
    margin-top: 1vh;
    }
#footer,
#footer1,
#footer2 {
    display: flex;
    flex-direction: row;
    margin-top: 2vh;
    }
.container_monthly,
.container_daily {
    display: none;
    }