body  {
    margin: 0;
    line-height: 1.15;
    font-family: sans-serif, "Overpass", sans-serif;
    font-size: 16px;
  }
  footer,
  header,
  nav,
  section  {
    display: block;
  }
  h1  {
    font-size: 2em;
    margin: 0.67em 0;
  }
 p:hover {
     color:chartreuse;
 }
  a  {
    background-color: transparent;
  }
  h1:hover {
      color: blue;
  }
 
    img  {
    border-style: none;
  }
 
  button,
  input  {
    overflow: visible;
  }
  button {
    text-transform: none;
  }
 .wrapper  {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  button,
  .buttonHold button:last-of-type:hover  {
    background-color: white;
    border: 2px solid transparent;
    border-radius: 25px;
    width: 140px;
    padding: 15px;
    display: inline-block;
    color: hsl(353, 100%, 62%);
    font-weight: 700;
    cursor: pointer;
  }
  
  a:hover,
  .open:hover  {
    cursor: pointer;
    text-decoration: underline;
    color: darkturquoise;
  }
  .drop a:hover,
  .drop a:focus  {
    font-weight: bold;
    cursor: pointer;
    color: darkblue;
  } 
  header  {
    background-image: url("../image_frontend/bg-pattern-intro-desktop.svg"),
      linear-gradient(90deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    height: 60vh;
    border-bottom-left-radius: 85px;
    background-position: 34% 53%;
    background-repeat: no-repeat;
    color: white;
  }
  
  nav  {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .menu  {
    display: flex;
    justify-content: space-between;
    width: 40%;
    min-width: 340px;
    flex-shrink: 0;
    align-items: center;
  }
  .menu img  {
    object-fit: scale-down;
  }
  
  .link  {
    position: relative;
    margin-left: 5px;
  }
  
  .link a  {
    text-decoration: none;
    color: inherit;
  }
  
  .dropText a  {
    display: block;
    margin: 17px auto;
  }
  
  .link img,
  .headLink img  {
    margin-left: 5px;
    transition-timing-function: ease;
    transition-duration: 0.4s;
  }
  
  .rotate  {
    transform: rotate(180deg);
  }
  
  .drop  {
    background-color: white;
    border-radius: 8px;
    width: 150px;
    position: absolute;
    top: 50px;
    left: -12px;
    color: black;
    max-height: 0px;
    transition: max-height 0.3s ease-out;
  }
  
  .drop.show  {
    display: block;
    max-height: 400px;
    height: auto;
    padding: 15px;
  }
  
  .dropText  {
    display: none;
  }
  
  .show  {
    display: block;
    height: auto;
  }
  
  
  .smallMenu  {
    position: relative;
    display: none;
  }
  
  .menuBtn  {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }
  
  .menuBrgr  {
    width: 60px;
    height: 4px;
    background-color: white;
    transition: all 0.2s ease-in-out;
  }
  
  .menuBrgr::before,
  .menuBrgr::after  {
    content: "";
    position: absolute;
    width: 60px;
    height: 4px;
    background-color: white;
    transition: all 0.2s ease-in-out;
    z-index: 5;
  }
  
  .mobMenu  {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    padding: 25px 15px;
    align-items: center;
    width: 250px;
    border-radius: 10px;
    position: absolute;
    left: -200px;
    top: 100px;
    justify-content: space-between;
    box-shadow: 1px 5px 5px rgba(12, 12, 12, 0.3);
  }
  
  .headLink  {
    text-decoration: none;
    color: inherit;
  }
  
  .headLink:hover  {
    cursor: pointer;
    text-decoration: none;
  }
  
  .mobLink  {
    width: 100%;
    text-align: center;
    margin: 20px auto;
    font-size: calc(1rem + 0.3vw);
  }
  
  .dropMob  {
    background-color: #efeff1;
    color: #5d6a7a;
    border-radius: 5px;
    max-height: 0px;
    transition: all 0.3s ease-out;
  }
  
  .dropTextMob a  {
    color: #5d6a7a;
    display: block;
    text-decoration: none;
    margin: 17px auto;
  }
  
  .dropTextMob  {
    display: none;
  }
  
  .dropTextMob a:hover,
  .dropTextMob a:focus  {
    cursor: pointer;
    color: hsl(356, 100%, 66%);
  }
  
  .mobMenu .sign  {
    display: flex;
    flex-direction: column;
    border-top: 1px solid hsl(240, 2%, 79%);
    align-items: center;
    margin: auto;
    padding-top: 10px;
  }
  
  .mobMenu .sign button  {
    background: linear-gradient(90deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    border: white;
    color: white;
  }
  
  .menuBrgr::before  {
    transform: translateY(-16px);
  }
  
  .menuBrgr::after  {
    transform: translateY(16px);
  }
  
  .menuBtn.move .menuBrgr  {
    transform: translateX(-50px);
    background: transparent;
  }
  .menuBtn.move .menuBrgr:before  {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menuBtn.move .menuBrgr:after  {
    transform: rotate(-45deg) translate(35px, 35px);
  }
  
  h1  {
    font-size: calc(2.5rem + 1vw);
    font-weight: 400;
    margin-bottom: 10px;
  }
  
  .sign  {
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    width: 190px;
    flex-shrink: 0;
    align-items: center;
  }
  
  .sign button  {
    width: 120px;
  }
  
  .holder  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
    text-align: center;
  }
  
  .buttonHold  {
    display: flex;
    width: calc(280px + 2%);
    justify-content: space-between;
    text-align: center;
    margin-top: 25px;
  }
  
  .buttonHold button:nth-of-type(2)  {
    background-color: transparent;
    color: white;
    border: 1px solid white;
  }
  
  .sign button:first-of-type:hover,
  .buttonHold button:first-of-type:hover  {
    background-color: #ff7b86;
    color: white;
    cursor: pointer;
  }
  
  .text  {
    width: calc(50% - 2.5%);
    color: hsl(207, 13%, 34%);
    line-height: 2rem;
    font-weight: 400;
    font-family: "Overpass", sans-serif;
  }
  h2  {
    text-align: center;
    color: hsl(208, 49%, 24%);
    font-size: calc(1.7rem + 0.5vw);
    font-weight: 400;
    margin: 105px auto;
  }
  
  h3  {
    font-size: calc(1.3rem + 0.5vw);
    color: hsl(208, 49%, 24%);
  }
  
  .flex  {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin: 25px auto;
  }
  
  .up img:first-of-type  {
    position: absolute;
    right: -400px;
    top: -200px;
  }
  
  .middle  {
    background-image: url("../image_frontend/bg-pattern-circles.svg"),
      linear-gradient(to right, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
    background-position: -65% 87%;
    background-repeat: no-repeat;
    margin: 270px auto;
    border-radius: 0px 75px 0px 75px;
  }
  
  .mid .text  {
    color: white;
    margin-top: calc(120px - 15px);
    margin-bottom: 120px;
  }
  
  .mid img  {
    position: absolute;
    left: -50px;
    top: -70px;
  }
  
  .mid h2  {
    margin-bottom: 15px;
    color: white;
  }
  
  .middle .flex  {
    justify-content: flex-end;
  }
  
  .lower .flex  {
    justify-content: flex-end;
  }
  
  .low img:not(.Mob)  {
    position: absolute;
    left: -400px;
  }
  
  
  footer  {
    background-color: hsl(240, 10%, 16%);
    margin-top: 250px;
    border-top-right-radius: 75px;
    padding-top: 25px;
  }
  footer .flex  {
    align-items: flex-start;
  }
  
  footer ul,
  footer a  {
    list-style: none;
    color: white;
    text-decoration: none;
  }
  
  footer a  {
    display: inline-block;
    margin-bottom: 15px;
  }
  
  .listHead  {
    font-weight: 500;
    margin-bottom: 25px;
  }
  
  
  
  @media (max-width: 1022px)  {
    .flex:not(.foot)  {
      flex-direction: column;
      justify-content: space-around;
      text-align: center;
    }
    .top .flex  {
      flex-direction: column-reverse;
    }
  
    .desk  {
      display: none;
    }
  
    .Mob  {
      display: block;
      position: static;
    }
  
    h3  {
      font-size: calc(2rem + 0.5vw);
    }
  
    h2  {
      font-size: calc(2.5rem + 0.5vw);
      line-height: 3rem;
    }
  
    .flex .text  {
      width: calc(100% - 40px);
    }
    .flex .text p  {
      font-size: calc(1rem + 0.3vw);
    }
  
    .middle  {
      background-position: center;
      background-size: cover;
      position: relative;
      margin-bottom: 100px;
    }
  
    .middle .flex  {
      justify-content: space-around;
      align-items: center;
    }
  
    .middle h2  {
      margin-top: 0px;
    }
  
    .mid img  {
      position: absolute;
      left: initial;
      top: -300px;
    }
  
    .mid .text  {
      margin: 300px auto 50px auto;
    }
  }
  
  @media (max-width: 625px)  {
    header  {
      padding-top: 10px;
    }
    .smallMenu  {
      display: block;
    }
  
    .link,
    .sign,
    .mobMenu  {
      display: none;
    }
    .dropMob.show,
    .drop.show  {
      display: block;
      max-height: 400px;
      height: auto;
      padding: 15px;
    }
    .show  {
      display: block;
    }
  
    .dropTextMob.show,
    .dropText.show  {
      display: initial;
    }
  
    .sign  {
      font-size: calc(0.9rem + 0.3vw);
    }
  
    footer .flex  {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .foot ul  {
      padding-left: 0px;
      font-size: calc(1rem + 0.3vw);
    }
  
    .foot img  {
      margin-bottom: 25px;
    }
  }
  
  @media (max-width: 523px)  {
    html  {
      font-size: 15px;
    }
  
    h1  {
      font-size: calc(2.2rem + 1vw);
    }
  
    .menu  {
      min-width: initial;
    }
  }