body {
   
    background-repeat: no-repeat;
    color: hsl(229, 7%, 55%);
    font-family: 'Raleway', sans-serif;
    
}
.container{
    background-color: rgb(2, 2, 24);
    background-image: url("../images/bg-desktop.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% 50%;
    height: 95vh;
    margin: 1px solid rgb(3, 3, 17);
    width: 100%;
}
.box {
    display: flex;
    flex: row;
    height: 40vh;
    margin-bottom: 10vh;
    margin-left: 21%; 
    margin-top: 30vh;
    position: absolute;
    width : 70%;

}
.bubble {
    height: 200px;
    width: 200px;
}
.content {
    background-color: hsl(228, 56%, 26%);
    border-radius: 10px 70px 10px 10px;
    display: flex;
    flex-direction: column;   
    font-display: flex;
    flex-wrap: wrap;
    height: 55%;
    max-width: 160px;
    padding: 30px 120px 30px 30px;
}
    
.content > * {
    flex: 1 1 auto;
}
    
#main {
    background-color: hsl(228, 56%, 26%);
    border-radius: 10px 10px 10px 10px;
    flex: 1 1 400px;
    height: 9vh;
    margin-left: 50px;
    margin-top: 10vh;
    max-width: 500px;
    padding: 30px 30px 30px 30px;

}
    
.menu {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 5px;
    padding: 20px 0 0 0 ;
}
    
.icon { 
    align-items: center;
    background-color: hsl(229, 57%, 11%);
    border-radius: 10px;
    display: flex;
    height: 50px;
    justify-content: center;
    margin: 10px;
    width: 50px;  
}
.empty {
    background-color: hsl(229, 57%, 11%);
    border-radius: 20px;
    height: 10px;
    margin: 15px 0 5px 0;
}
.hide {
    display: none;
}
    
.empty:hover + .hide {
    display: block;
}
.bubble {
    bottom: calc(100% + 30px);
    left: 64%;
    position: absolute;
}
    
.left {
    background: #f5f5f5;
    border-radius: 10px 10px 0 10px;
    padding: 20px;
    position: relative;
    width: auto;      
}
    
.left:after {
    border: 38px solid transparent;
    border-bottom: -20px;
    border-right: 0;
    border-top-color: #f5f5f5;
    bottom: 0;
    content: '';
    height: 0;
    left: auto;
    margin-left: -18px;
    position: absolute;
    width: 0;
}
    
.msg {
    color: black;
    font-size: xx-large;
    font-weight: 700;
}
    
.slider {
    align-items: center;
    background: linear-gradient(to right, hsl(6, 100%, 80%) to hsl(335, 100%, 65%));
    background-color: palevioletred;
    border-radius: 20px;
    display: flex;
    height: 10px;
    justify-content: flex-end;
    width: calc((815/1000)*100%);
    width: 100%;
    
}
.left {
    background: #f5f5f5;
    border-radius: 10px 10px 0 10px;
    position: absolute;
    width: auto;
}
      
.left:after  {
      
    border: 38px solid transparent;
    border-bottom: 0;
    border-right: 0;
    border-top-color: #f5f5f5;
    bottom: 0;
    height: 0;
    margin-bottom: -20px;
    margin-left: -35px;
    left: auto;
    position: absolute;
    width: 0;
}
.label {
    display: flex;
    justify-content: space-between;
}
footer {
    margin-top: auto;
}
@media all and (max-width:800px) {
#main {
    flex-wrap: wrap;
    max-width: auto;
    min-width: auto;
}
main {
    margin-top: 10px;
}
.left:after {
    display: none;
}
.left {
    border-radius: 10px;
}
.bubble {
    bottom: -110px;
    left: 30%;
}
} 
