@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,400;1,600&family=Barlow+Semi+Condensed:ital,wght@0,500;1,600&family=Big+Shoulders+Display:wght@700&family=Inter:wght@400;700&family=Josefin+Sans:ital,wght@1,300;1,400;1,600&family=Karla:ital@1&family=Kumbh+Sans:wght@400;700&family=Lexend+Deca&family=Open+Sans:wght@400;700&family=Outfit:wght@300;400;600&family=Raleway:ital,wght@0,700;1,400&family=Red+Hat+Display:ital,wght@0,500;0,700;1,500;1,900&family=Rubik:ital,wght@0,400;1,500;1,700&display=swap');
body {
    background-color: rgb(201, 206, 206);
    font-family: 'Bai Jamjuree', sans-serif;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Inter', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Karla', sans-serif;
    font-family: 'Kumbh Sans', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 13px;
    line-height: 25px;
    max-height: 90vh;
  max-width: 1000px;
}
.box {
    background-color: white;
    height: 60vh;
    margin-left: 25%;
    margin-top: 15%;
    width: 80%;
}
.right {
    background-color: white;
    color: hsl(244, 43%, 21%);
    float: right;
    padding-left: 3%;
    padding-right: 4%;
    padding-top: 10vh;
    height: 40vh;
    width: 45%;
}
.left {
    float: left;
    height: 60vh;
    width: 45%;
}
.image { 
    height: 60vh;
    max-width: 100%;
}
.detail {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 5vh;
    width: 100%;
}
.dp {
    border-radius: 50px;
    height: 7vh;
    width: 50px;
}
.dp1 {
    align-content: center;
    background-color: hsl(218, 57%, 97%);
    border-radius: 50px;
    height: 7vh;
    width: 50px;  
}
.share_img {
    
    height: 4vh;
    width: 40px;
}
.share{
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-around;
    margin: 30px;
    width: 400px;    
}
.row1{
    display: flex;
    flex-direction: row;
}
.row2{
    display: flex;
    flex-direction: row;
}
.icon{
    border: 20px solid black;
    border-radius: 12px;
    height: 50px;
    width: 50px;
}
.sharing{
    background-color: black;
    display: none;
    height: 40%;
    justify-content: center;
    left: 0;
    margin-left: 500px;
    margin-top: 30vh;
    position: fixed;
    top: 0;
    width: 30%; 
    z-index: 1;
}