a:link{
    font-size: 35px;
    text-decoration: none;
    color: goldenrod;
}
a:visited
{
    color:red;
}
a:hover
{
    color:blue;
}a:active
{
    color:green;
}
.dropdown-content a{
    display:none;
}