.box{
    width: 200px;
    height:200px;
    background-color: pink;
    position: relative;
    animation-name: anim2;
    animation-duration: 4s;
}
@keyframes anim{
    0%{
        left:0;
        top: 0%;
        background-color: aqua;
    }
    100%{
        left: 500px;
        top: 0%;
        background-color: black;
    }
}
@keyframes anim2{
    0%{
        left:0;
        top: 0%;
        background-color: aqua;
    }
    25%{
        left: 500px;
        top: 0%;
        background-color: red;
    }
    50%{
        left:500px;
        top: 500px;
        background-color: yellow;
    }
    75%{
        left: 0px;
        top: 500px;
        background-color: purple;
    }
    100%{
        left:0;
        top: 0%;
        background-color: black;
    }
}