@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,400;1,600&family=Barlow+Semi+Condensed:ital,wght@0,500;1,600&family=Big+Shoulders+Display:wght@700&family=Inter:wght@300;500;700&family=Josefin+Sans:ital,wght@1,300;1,400;1,600&family=Karla:ital@1&family=Kumbh+Sans:wght@400;700&family=Lexend+Deca&family=Open+Sans:wght@400;700&family=Outfit:wght@300;400;600&family=Raleway:ital,wght@0,700;1,400&family=Red+Hat+Display:ital,wght@0,500;0,700;1,500;1,900&family=Rubik:ital,wght@0,400;1,500;1,700&display=swap');
body {
    align-content: left;
    background-color: black;
    font-family: 'Bai Jamjuree', sans-serif;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Inter', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Karla', sans-serif;
    font-family: 'Kumbh Sans', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
    max-height: 100vh;
    max-width: 1000px;
  }
.container {
    background-color: white;
    background-image: url("./images/pattern-curve.svg");
    background-position:left bottom;
    background-repeat: no-repeat;
    height: 90vh;
    margin-left: 18%;
    margin-top: 5vh;
    width: 1000px;
  }
.quotes {
    background-image: url("./images/pattern-quotes.svg");
    background-repeat: no-repeat;
    float: left;
    height: 20vh;
    margin-left: 15%;
    margin-top: 25vh;
    position: relative;
    width: 20%;
  }
.bg {
    background-image: url("./images/pattern-bg.svg");
    background-size: contain;
    float: right;
    height: 70vh;
    margin-right: 70px;
    margin-top: 10vh;
    position: relative;
    width: 50%;
  }
.john {
    float: right;
    height: 60vh;
    margin-right: 70px;
    margin-top: 6vh;
    position: relative;
    width: 70%;
  }
#left {
    height: 30vh;
    margin-left: 5%;
    margin-top: 32vh;
    position: absolute;
    width: 500px;
  }
.tanya {
    float: right;
    height: 60vh;
    margin-right: 70px;
    margin-top: 6vh;
    position: relative;
    width: 70%;
  }
#right {
    height: 30vh;
    margin-left: 5%;
    margin-top: 32vh;
    position: absolute;
    width: 500px;
  }
.arrow {
    background-color: white;
    border-radius: 19px;
    display: inline;
    height: 6vh;
    justify-content: space-between;
    margin-left: 110px;
    margin-top: 64vh;
    position: absolute;
    width: 80px;
  }
.prev {
    float: left;
    margin-left: 10px;
    margin-top: 1.5vh;
  }
.next {
    float: right;
    margin-right: 10px;
    margin-top: 1.5vh;
  }
#slide1 {
    display: block;
  }
#slide2 {
    display: none;
  }