@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,400;1,600&family=Barlow+Semi+Condensed:ital,wght@0,500;1,600&family=Inter:wght@400;700&family=Open+Sans:wght@400;700&family=Outfit:wght@300;400;600&family=Raleway:ital,wght@0,700;1,400&family=Red+Hat+Display:ital,wght@0,500;0,700;1,500;1,900&family=Rubik:ital,wght@0,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,400;1,600&family=Barlow+Semi+Condensed:ital,wght@0,500;1,600&family=Inter:wght@400;700&family=Lexend+Deca&family=Open+Sans:wght@400;700&family=Outfit:wght@300;400;600&family=Raleway:ital,wght@0,700;1,400&family=Red+Hat+Display:ital,wght@0,500;0,700;1,500;1,900&family=Rubik:ital,wght@0,400;1,500;1,700&display=swap');
body {
    background-color: hsl(233, 47%, 7%);
    background-position: center center;
    background-size: cover;
    font-family: 'Bai Jamjuree', sans-serif;
    font-family: 'Bai Jamjuree', sans-serif;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    margin: 3px;
    text-align: center;
  }
.container {
    display: inline;
    justify-content: center;
  }
.box1 {
    background-color: hsl(244, 38%, 16%);
    color:white;
    display: flex;
    flex-direction: column;
    float: left;
    height:50vh;
    justify-content: center;
    margin-left: 10%;
    margin-top: 10%;
    width:40%;
  }
.box2 {
    background-color:  hsl(277, 73%, 50%);
    background-color: white;
    float: right;
    height:50vh;
    margin-right: 10%;
    margin-top: 10%;
    opacity: 1.0;
    width:40%;
  }
.image {
    height:50vh;
    width: 100%;
  }
.clr {
    height:50vh;
    width: 100%;
  }
.bottom {
    display: flex;
    justify-content: space-evenly;
  }
.top {
    align-content: left;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
  }
.image {
    opacity: 0.4;
  }
