@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,500;1,600&family=Outfit:wght@300;400;600&family=Red+Hat+Display:ital,wght@0,500;0,700;1,500;1,900&display=swap');
body {
    background-color:  hsl(210, 46%, 95%);
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-size: 13px;
    font-family: 'Red Hat Display', sans-serif;
    text-align: center;
}
main {
    background: fixed;
}
 #card1 {
    background-color:  hsl(263, 55%, 52%);
    border-radius: 18px;
    color:hsl(0, 0%, 100%);
    margin: auto;
    max-width: 600px;
    height: 240px;
    padding: 30px;
    text-align: left;
}
#card2 {
    background-color:  hsl(217, 19%, 35%);
    border-radius: 18px;
    color:hsl(0, 0%, 100%);
    height: 240px;
    margin: auto;
    max-width: 220px;
    padding: 30px;
    text-align: left;
}
#card3 {
    background-color:  white ;
    border-radius: 18px;
    color: hsl(219, 29%, 14%);
    height: 220px;
    margin: auto;
    max-width: 220px;
    padding: 30px;
    text-align: left;

}
#card4 {
    background-color:  hsl(219, 29%, 14%);
    border-radius: 18px;
    color:hsl(0, 0%, 100%);
    height: 220px;
    max-width: 600px;
    margin: auto;
    text-align: left;
    padding: 30px;
}
#card5 {
    background-color:  hsl(0, 0%, 100%);
    border-radius: 18px;
    color: hsl(219, 29%, 14%);
    height: 540pxpx;
    max-width: 200px;
    margin: auto;
    padding: 30px;
    text-align: left;
}
header img {
       
        background-position: center center;
        border-radius: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        height: 3rem;
        width: 3.5rem;
}
header {
    max-height: 38px;
}
@media screen and (min-width:900px) {
    body {
       padding: 3rem 0;
    }
    section {
        margin: 0;
    }
 
    .container  {
       grid-column-gap: 2rem;
       grid-row-gap: 2rem;
       grid-template-columns: repeat(4, 1fr);
       grid-template-rows: auto auto;
       display: grid;
       margin: 0 5% 0 5%;
   }

   #card1 {
       grid-column: 1/3;
   }

   #card5 {
       grid-column: 4/5;
       grid-row: 1/3;
   }

   #card4 {
       grid-column: 2/4;
   }
}