@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,400;1,600&family=Barlow+Semi+Condensed:ital,wght@0,500;1,600&family=Outfit:wght@300;400;600&family=Raleway:ital,wght@0,700;1,400&family=Red+Hat+Display:ital,wght@0,500;0,700;1,500;1,900&display=swap');
body {
      background-image: url("../image_frontend/bg-header-desktop.png");
      background-position: "center";
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      font-family: 'Bai Jamjuree', sans-serif;
      font-family: 'Barlow Semi Condensed', sans-serif;
      font-family: 'Outfit', sans-serif;
      font-family: 'Raleway', sans-serif;
      font-family: 'Red Hat Display', sans-serif;
      font-size: 18px;
      line-height: 25px;
      margin: 20px;
      text-align: center;
  }
.logo {
      display: block;
      height: 60px;
      margin-bottom: 30px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 50px;
      width: 80px;
  }
p {
      font-size: medium;
  }
.but {
      border-radius: 15px;
      cursor: pointer;
      display: flex;
      gap: 10px 2em;
      justify-content: center;
  }
.ios-but {
      background-color: hsl(171, 66%, 44%);
      border-color: hsl(171, 66%, 44%);
  }
.ios-but,
.mac-but {
      border-radius: 15px;
      color: white;
      cursor: pointer;
      height: 35px;
      width: 140px;
  }
.mac-but {
      background-color: hsl(233, 100%, 69%);
      border-color: hsl(233, 100%, 69%);
  }
.box1 {
      float: left;
      height:600px;
      width: 650px;
  }
.box2 {
      float: right;
      height:600px;
      margin-left: 50px;
      width: 600px;
  }
.com {
      float: left;
      height:500px;
      width: 650px;
  }
.five {
      height: 570px;
      margin: auto;
      width: 70%;
  }
.seven {
      border-radius: 15px;
      display: flex;
      gap: 10px 2em;
      justify-content: center;
  }
.container1 {
      float: left;
      height:250px;
      width: 30%;
  }
.eight {
      border-radius: 15px;
      display: flex;
      gap: 10px 2em;
      justify-content: center;
  }
.img1
 {
      float: right;
      height:100px;
      width: 18%;
  }
footer {
      background-color: gainsboro;
      display: flex;
      height: 100px;
      margin-top: 80px;
      width:100%;
  }
.final1 {
      float: left;
      width:60%;
  }
.final1,
.final2,
.final3 {
      border-radius: 15px;
      display: flex;
      gap: 10px 2em;
      justify-content: left;
  }
.fin1 {
       float: left;
       height:50px;
       justify-items: left;
       top:auto;
       width: 18%;
   }
a {
      text-decoration: none;
  }
.final2 {
      float: right;
      margin-top: 5vh;
      width:10%;
  }
.final3 {
      float: center;
      width:30%;
  }
.fin2 {
      border-top: 20px;
      float: left;
      height:50px;
      width: 10%;
  }
.logo1 {
      height: 40px;
      margin-top: 30px;
      width: 40px;
  }
a:hover {
      color: greenyellow;
  }
@media only screen and (max-width: 605px) {
body {
      align-content: center;
      justify-content: center;
      max-width: 480px;
  }
.but {
    display: flex;
    flex-direction: column;
}
.second {
      width : 480px;
  }
.third {
      display: flex;
      flex-direction: column;
  }
.com {
      align-self: center;
      height: 70vh;
      width: 400px;
  }
.five {
      align-self: center;
      height: 70vh;
      width: 300px;
  }
.eight {
      display: flex;
      flex-direction: column;
  }
.final1 {
      width:480px;
  }
}
