.tab {
    align-items: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-bottom: 50px;
    margin-left: -400px;
}

.buttons {
    margin: 10px;
}

label {
    font-weight: bolder;
}

.field {
    align-self: center;
    color: black;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-left: 0px;
    padding: 3px;
    width: 400px;
}

.buttons button {
    background-color: green;
    border-radius: 10px;
    border: none;
    color: white;
    margin: 20px;
    outline: none;
    padding: 5px;
    width: 100px;
}

table {
    background-image: url("../assets/green.jpg");
    line-break: 1vh;
    margin-top: 5vh;
    table-layout: auto;
    margin-left: 300px;
    width: 85%;
    border-collapse: collapse;
    border: 1px Solid black;
}

h1 {
    color: black;
}

h2 {
    margin-bottom: 20px;
}

th,
td {
    border: 1px Solid black;
    padding: 3vh;
}

.container {
    background-image: url("../assets/color.jpg");
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

input {
    border-radius: 5px;
    border: 2px solid black;
    height: 30px;
    width: 250px;
}

#submit {
    border: 2px solid purple;
    height: 30px;
    margin-left: 20px;
    width: 100px;
}

#find {
    border: 2px solid purple;
    height: 30px;
    width: 350px;
}