<h1 class="text-danger">Welcomeeeeeeeeee {{title}} from {{location}}</h1>
<hr>
<div>
  <app-boxa labelValue="Location" [data]="location" (onBoxDataChange)="onBoxValueChange($event)"></app-boxa>
</div>
<!-- <div>
  <app-boxa [data]="location"></app-boxa>
</div>
<div>
  <app-customer-form></app-customer-form>
</div> -->
<!-- <div>
  <app-count-display></app-count-display>
</div> -->
<!-- <div>
  <app-counter-app></app-counter-app>
</div> -->
<!-- <div><label for="Number Of Times Hitted : ">
    <app-hit-button></app-hit-button>
</div> -->
<!-- <app-employee-form></app-employee-form> -->