body{
    background-image: url("../images/green.jpg");
    line-break: 1vh;
}
div{
    height: 7vh;
}
div:hover{
    color: rgb(44, 44, 235);
}
a:hover{
    color: mediumvioletred
}
a:active{
    color: rgb(252, 236, 15)
}