@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,400;1,600&family=Barlow+Semi+Condensed:ital,wght@0,500;1,600&family=Big+Shoulders+Display:wght@700&family=Inter:wght@400;700&family=Josefin+Sans:ital,wght@1,300;1,400;1,600&family=Karla:ital@1&family=Kumbh+Sans:wght@400;700&family=Lexend+Deca&family=Open+Sans:wght@400;700&family=Outfit:wght@300;400;600&family=Raleway:ital,wght@0,700;1,400&family=Red+Hat+Display:ital,wght@0,500;0,700;1,500;1,900&family=Rubik:ital,wght@0,400;1,500;1,700&display=swap');
body {
    align-content: left;
    background-color: hsl(273, 97%, 56%);
    font-family: 'Bai Jamjuree', sans-serif;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Inter', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Karla', sans-serif;
    font-family: 'Kumbh Sans', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    max-height: 90vh;
    max-width: 1000px;
  }
.box {
    background-color: white;
    display: flex;
    flex-direction: row;
    height: 70vh;
    margin-left: 300px;
    margin-top: 15vh;
    width: 800px;
  }
.left {
    background-image: url("../image_frontend/bg-pattern-desktop.svg");
    background-size: 52ch 70vh;
    float: left;
    height: 100%;
    width: 50%;
  }
.image {
    margin-left: -50px;
    margin-top: 10vh;
    width:100%;
  }
.img_box {
    margin-bottom: 40vh;
    margin-left: -80px;
    margin-top: -35vh;
  }
.right {
    color:  hsl(238, 29%, 16%);
    float: right;
    max-height: 80%;
    max-width: 45%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10%;
  }
hr {
    width: 100%;
  }
.answer,.ans1 {
    display: inline;
  }
.answer:hover,
h1:hover {
    color: palevioletred;
  } 