@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,400;1,600&family=Barlow+Semi+Condensed:ital,wght@0,500;1,600&family=Big+Shoulders+Display:wght@700&family=Inter:wght@400;700&family=Josefin+Sans:ital,wght@1,300;1,400;1,600&family=Karla:ital@1&family=Kumbh+Sans:wght@400;700&family=Lexend+Deca&family=Open+Sans:wght@400;700&family=Outfit:wght@300;400;600&family=Raleway:ital,wght@0,700;1,400&family=Red+Hat+Display:ital,wght@0,500;0,700;1,500;1,900&family=Rubik:ital,wght@0,400;1,500;1,700&display=swap');
body {
    background-color: black;
    font-family: 'Bai Jamjuree', sans-serif;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Inter', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Karla', sans-serif;
    font-family: 'Kumbh Sans', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 13px;
    max-height: 90vh;
    max-width: 1000px;
    word-spacing: 5px;
}
.box {
    margin-left: 20%;
    margin-top: 5%;
    height: 80vh;
    width: 100%;   
}
.left {
    background-color: rgb(250, 242, 244);
    background-image: url("./images/bg.svg");
    color: hsl(0, 36%, 70%);
    float: left;
    padding-bottom: 5vh;
    padding-left: 10%;
    padding-right:  5%;
    padding-top: 5vh;
    height: 70vh;
    width: 40%;
}
.right {
    height: 80vh;
    float: right;
    width: 45%;
}
.image { 
    max-width: 100%;
    max-height: 80vh;
}
h1 {
    font-size: 50px;
    letter-spacing: 9px;
    line-height: 55px;
}
.mail {
    display: inline;
}
.email {
    border: 2px solid hsl(0, 36%, 70%);
    border-radius: 12px;
    color: hsl(0, 36%, 70%);
    height: 5vh;
    position: relative;
    width: 60%;
}
.arrow {
    background-color: hsl(0, 36%, 70%);
    color: white;
    float: inline-end;
    height: 5.8vh;
    border: 2px solid hsl(0, 36%, 70%);
    border-radius: 12px;
    margin-left: -5ch;
    margin-top: 0vh;
    position: absolute;
    width: 5%;
}