@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,400;1,600&family=Barlow+Semi+Condensed:ital,wght@0,500;1,600&family=Open+Sans:wght@400;700&family=Outfit:wght@300;400;600&family=Raleway:ital,wght@0,700;1,400&family=Red+Hat+Display:ital,wght@0,500;0,700;1,500;1,900&family=Rubik:ital,wght@0,400;1,500;1,700&display=swap');
body{
    font-family: 'Bai Jamjuree', sans-serif;
font-family: 'Barlow Semi Condensed', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Outfit', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Red Hat Display', sans-serif;
font-family: 'Rubik', sans-serif;
font-size: 18px;
background-color: aliceblue;
background-position: center center;
background-size: cover;
margin: 3px;
text-align: center;

/* max-width: 1200px;
max-height: 1200vh;
justify-content: center; */

}
header{
    height: 35vh;    
}
.logo{
    float: left;
    width: 200px;
    height: 50px;
    margin-left:  80px;
    margin-top: 50px;
}
.try{
    float: right;
    width: 150px;
    height: 40px;
    color: rgb(248, 8, 176);
    border-radius: 15px;
    background-color: white;
    border-color: rgb(248, 8, 176);
    margin-right:  80px;
    margin-top: 50px;
}
.start{
    float: center;
          width: 250px;
          height: 40px;
          color: white;
          background-color:  hsl(322, 100%, 66%);
          border: hsl(322, 100%, 66%);
          border-radius: 10px;
          /* margin-left: 90px; */
      }
      .third{
          align-items: center;
          border: 30px;
          height: 100vh;
background-color: rgb(221, 243, 243);

      }
      .one{
          margin-top: 12vh;
          width:60%;
          height: 90%
      }
      .fourth{
        align-items: center;
        border: 30px;
        height: 50vh;
        margin-top: 5vh;
    }
    .left{
        width:30%;
        height:40vh;
        float: left;
        margin-top: 50px;
        margin-left: 150px;
        justify-content: center;

    }
    .right{
        width:30%;
        height:40vh;
        float: right;
        margin-top: 50px;
        margin-right: 150px;
        justify-content: center;
        background-color: white;

    }
    span{
        font-size: 100px;
        justify-content: center;
    }
    .fifth_top{
        margin: 20px;
    }
    .fifth{
      
        margin-top: -10px;
        /* width: 100%; */
        height: 70vh;
        margin: 80px;
        background-color: rgb(221, 243, 243);
    }
    .fifth_bot{
        margin-top: -10px;
    }
    .left5{
        float:left;
        width:40%;
        height: 30vh;
        margin-top: 25vh;

    }
    .right5 .pic{
        float:right;
        width: 50%;
        height: 70vh;
    }
    .four{
        margin: 20px;
        /* width: 100%; */
        height: 70vh;
        margin: 80px;
    }
    .right4{
        float:right;
        width:40%;
        height: 30vh;
        margin-top: 25vh;
        background-color: aliceblue;

    }
    .left4 .pic{
        float:left;
        width: 50%;
        height: 70vh;
    }
    .five_top{
        margin: 20px;
    }
    .five{
        margin-top: -10px;
        /* width: 100%; */
        height: 80vh;
        margin-right: 40px;
        margin-left: 70px;
        border: 5px;
background-color: rgb(221, 243, 243);

    }
    .five_bot{
        margin-top: -10px;
    }
    .left7{
        float:left;
        width:40%;
        height: 30vh;
        margin-top: 25vh;
        margin-left: 40px;
}
    .right7 .pic{
        float:right;
        width: 50%;
        height: 70vh;
    }
    .six{
        width: 60%;
        height: 20vh;
        border-radius: 12px;
        background-color: white;
        justify-content: center;
        justify-self: center;
        margin-left: 300px;
        margin-top: 100px;
        /* position: relative; */
    
    }
    footer{
        /* margin-left: 80px; */
        margin-top: -10px;
        /* width:1200px; */
        height:50vh;
        background-color: hsl(192, 100%, 9%);
        justify-self: baseline;
        /* position: absolute;  */
        font-size: large;
}
    .boxes{
        list-style-type: none;
        display: flex;
        justify-content: space-evenly;
    }
    .boxes .foot{
        width: 30%;
        height: 200px;
        display: flex;
        flex-direction: column;
        margin: 30px;
        border-radius: 5px;
        color: white;
        justify-content: left;
}
a:hover
{
    color:beige
}
.type
{    width: 60%;
    border-color: aliceblue;
    margin:20px;
    height: 5vh;
    border-radius: 12px;
    float: left;
} 
.last{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sub{
             float: right;
            width: 200px;
              height: 40px;
              color: white;
             background-color: hsl(322, 100%, 66%);
              border-radius: 10px;
              border: hsl(322, 100%, 66%);
}
.new{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    float:right;
}
.new .icon{
    width: 40px;
    height: 40px;
    display: flex;
    margin: 4px;
    border-radius: 5px;
    justify-content: space-evenly;
    background-color: white;
    color: black;
    
}
.footer_top{
    margin-top: 100px;
}
