@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
body {
    background: hsl(0, 0%, 100%);
    display: flex;
    min-height: 97vh;
    font-family: 'Outfit', sans-serif;
    align-content: center;
}

img {
    border-radius: 12px;
    align-items: center;
    display:block;
    width: 95%;
    max-width: 80%;
    margin: 1em auto;
    height: 50%;    
}

.container {
    background: hsl(217, 54%, 11%);
    margin: auto;
    border: 5px;
    border-radius: 18px;
    max-width: 300px;
    height: 80vh;
}

.box{
    margin: 18px auto;
    max-width: 100%;
}
h3{
    padding: 15px;
    margin: 18px auto;
    font-size: 20px;
    align-items: left;
    color:  hsl(0, 0%, 100%);
} 
.text4
    {
        color: hsl(215, 51%, 70%);
        font-size: 15px;
        text-align: right;
        float: inline-end;
    
    }

.text2{
    padding-left: 15px;padding-bottom: 0%;
    color:  hsl(215, 51%, 70%);
}
#text3{
    padding-left: 15px;
    color:  hsl(178, 100%, 50%);
    align-content: left;
    float: inline-start;
}
.text{
    padding-left: 5px;
    color:  hsl(220, 15%, 55%);
    font-size: 15px;
}
.pic
{
    border-radius: 20%;
    border: 1px;
    bottom: 0%;
    position: sticky;
    max-width: 35px;
    max-height: 35px;
    float: left;
    border-color: hsl(0, 0%, 100%);
}
.footer{
    max-height:  15px;
}
      