@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,400;1,600&family=Barlow+Semi+Condensed:ital,wght@0,500;1,600&family=Big+Shoulders+Display:wght@700&family=Inter:wght@400;700&family=Karla:ital@1&family=Kumbh+Sans:wght@400;700&family=Lexend+Deca&family=Open+Sans:wght@400;700&family=Outfit:wght@300;400;600&family=Raleway:ital,wght@0,700;1,400&family=Red+Hat+Display:ital,wght@0,500;0,700;1,500;1,900&family=Rubik:ital,wght@0,400;1,500;1,700&display=swap');
body{
    font-family: 'Bai Jamjuree', sans-serif;
font-family: 'Barlow Semi Condensed', sans-serif;
font-family: 'Big Shoulders Display', cursive;
font-family: 'Inter', sans-serif;
font-family: 'Karla', sans-serif;
font-family: 'Kumbh Sans', sans-serif;
font-family: 'Lexend Deca', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Outfit', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Red Hat Display', sans-serif;
font-family: 'Rubik', sans-serif;
background-color:  rgb(67, 120, 151);
position: absolute;
max-width: 1000px;
max-height: max-content;
}
.bg_top{
    margin-top: -30%;
    margin-left: -20%;

}
.bg_bottom{
    margin-bottom: -30%;
    margin-right: 40%;
    float: right;
}
/* background-image: url("../image_frontend/bg-pattern-top.svg"); */
/* background-repeat: no-repeat;
max-width: 900px;
    max-height: 800px;
    
    margin: 100px;
    position: relative;


}
.bg{
    justify-content: space-evenly;
    position: absolute;
}
.bg_top{
    width: 65%;
       height: 50vh;
    margin-left: -105px;
    float: left;
    margin-top: -105px;

}
.bg_bottom{
    width: 65%;
    height: 50vh;
    float: right;
    margin-right: -105px;
    margin-bottom: -105px;
}
.image{
    width: 90%;
    height: 100%;
}
.box{
    width: 20%;
    height: 20%;
    margin-top: 30%;
    margin-left: 40%;
    background-color: bisque;
} */