body {
    background-color: black;
    border: 5px;
    max-height: 100vh;
    max-width: 900px;
    overflow:hidden;
  }
.container {
    background-color: white;
    border: 2px solide white;
    height: 80vh;
    margin-left: 200px;
    margin-top: 3vh;
    overflow-block: hidden;
    padding: 50px;
    width: 900px;
  } 
.bg {
    background-color: hsl(207, 33%, 95%);
    border-radius: 0px 0px 50px 50px;
    float: right;
    height: 400px;
    margin-right: -50px;
    margin-top: -50px;
    overflow: hidden;
    width:500px;
  }
header {
    border: 5%;
    display: flex;
    flex-direction: row;
    height: 9vh;
    padding-left: 50px;
    position: absolute;
    width:60%;
  }
.menu {
    color:aliceblue;
    display: flex;
    flex-direction: row;
    float: right;
    justify-content: space-between;
    margin-left: 300px;
    position: absolute;
    width: 400px;
  }
.open, 
.open1{
    text-decoration-color: none;
    text-decoration-line: none;
  } 
*{
    color: hsl(230, 29%, 20%);
  }
.open1{
    color: rgb(167, 124, 231);
  }
.first {
    height: 70vh;
    margin-left: -50px;
    margin-top: 15vh;
    position: absolute;
    width: 67%;
  }
.left {
    float: left;
    height: 90%;
    width:50%;
  }
.right {
    float:right;
    height: 90%;
    width:50%;
  }
.illus {
    height: 100%;
    width: 130%;
  }
.second {
    height: 5vh;
    margin-left:20%;
    width:80%;
  }
.new {
    background-color: black;
    border-radius: 50px;
    color: white;
  }
h1 {
    font-size: 45px;
    margin-left: 0px;
  }
.demo {
    background-color: red;
    border-radius: 8px;
    color: white;
    height: 5vh;
    width: 150px;
  }
.five {
    margin-top: 6vh;
  }
a:hover {
    color: pink;
  }
span:hover {
    color: blueviolet;
  }
h1:hover {
    color: lawngreen;
  }
input:hover {
    color: greenyellow;
  }
p:hover {
    color: darkblue;
  }
p{
    color: hsl(231, 7%, 65%);
    text-transform: uppercase;
  }
button:hover{
    opacity: 0.8sec;
  }
